{{- define "delete"}}
func (dao *{{.GoName}}GenDAO) DeleteByWhere(ctx context.Context, where string, args ...any) (int64, error) {
	s := "DELETE FROM {{.QuotedTableName}} WHERE " + where
	return dao.DeleteByRaw(ctx, s, args...)
}

func (dao *{{.GoName}}GenDAO) DeleteByRaw(ctx context.Context, query string, args ...any) (int64, error) {
	res, err := dao.session.ExecContext(ctx, query, args...)
	if err != nil {
		return 0, err
	}
	return res.RowsAffected()
}
{{- end}}